<div class="title-container">
	<h1>Minecraft Web Server Interface</h1>
</div>

<div class="console-container">
	<h1>Console</h1>

	<p id="console-data">{{#each log}}{{this}}{{/each}}</p>

	<form id="console-input">
		<h5>$></h5>
		<input type="text" name="command" id="command">
	</form>

</div>
