<form method="POST" action="/login" enctype="application/x-www-form-urlencoded" class="login-container" id="form">
	<h1>Login to Minecraft web console</h1>
	<h4>Username: </h4>
	<input type="text" name="username" id="username">
	<h4>Password: </h4>
	<input type="password" name="password" id="password">
	{{#if message}}
		<h5>{{message}}</h5>
	{{/if}}
	<button type="submit">Login</button>
</form>
