body {
	--container-padding: 3vw;
	--container-border-radius: 20px;
	--button-border-radius: 5px;

	--container-vertical-spacing: calc(-1 * var(--container-padding));

	--console-data-border-size: 9px;

	/*
	position: absolute;
	top:0px;
	left:0px;
	margin:0 0;
	padding:0 0;

	width: 100vw;
	height: 100vh; */

	background-image: url("/static/img/bg-server.png");
  background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;

	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*
**  Title container
*/

.title-container {
	z-index: 0;
	position: relative;

	background-color: var(--title-background-color);


	border-radius: var(--container-border-radius);

	width:75%;
/*	height: 200px; Cannot hardcode height in dynamic layout*/

	padding: var(--container-padding);
	margin-left: 10%;
	margin-top: 5%;

	top: 0px;

	transition: 0.3s ease-in-out;
}

.title-container:hover {
	top: -20px;
}

.title-container img {
	position: absolute;
	z-index: 1;

	max-width: 200px;
	width: 100%;

	top: var(--container-vertical-spacing);
	right: var(--container-padding);
}

.title-container h1 {
	font-size: 50px;
	color: var(--title-h1-color);
	width: 80%;
}

.title-container h4 {
	font-size: 26px;
	color: var(--title-h4-color);
	width: 100%;
}

/*
**  Server container
*/

.server-container {
	position: relative;
	z-index: 1;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	background-color: var(--server-background-color);
	border-radius: var(--container-border-radius);

	padding: var(--container-padding);

	width:75%;
/*	height:90px; Cannot hardcode height in dynamic layout*/

	margin-left: 15%;
	margin-top: var(--container-vertical-spacing);
/*	top: 360px; */

	transition: 0.5s ease-in-out;
}

.server-container:hover {
	margin-left: calc(15% - 35px);
}


.server-container strong {
	color: rgb(0, 255, 64);
}

.server-container h1 strong {
	color: var(--server-ip-color);
}

.server-container h1 {
	color: var(--server-h1-color);
	margin: 0;
}

.server-container h4 {
	margin: 0;
	margin-left: 20px;
	color: var(--server-h4-color);
}

/*
**  Server action buttons
*/

.server-action-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 30px;
	width: 40%;
	height:60px;
}

.server-action-button {
	font-size: 100%;
	width:120px;
	height: 60px;
	border:none;
	background-color: gray;
	color: var(--server-action-btn-text);
	border: 5px solid inherit;
	border-radius: var(--button-border-radius);
	transition: 0.6s ease-in-out;
}

.server-action-button:nth-child(1) {
	background-color: var(--server-action-btn-reload);
}
.server-action-button:nth-child(1):hover {
	background-color: var(--server-action-btn-reload-hover);
}



.server-action-button:nth-child(2) {
	background-color: var(--server-action-btn-restart);
}
.server-action-button:nth-child(2):hover {
	background-color: var(--server-action-btn-restart-hover);
}



.server-action-button:nth-child(3) {
	background-color: var(--server-action-btn-stop);
}
.server-action-button:nth-child(3):hover {
	background-color: var(--server-action-btn-stop-hover);
}


/*
**  Console Container
*/

.console-container {
	z-index: 0;
	position: relative;

	display: flex;
	flex-direction: column;

	background-color: var(--console-background-color);
	border-radius: var(--container-border-radius);

	padding: var(--container-padding);

	width:75%;
	height: 75vh;

	margin-left: 5%;
	margin-top: var(--container-vertical-spacing);

	transition: 0.5s ease-in-out;
}

.console-container:hover {
	margin-left: calc(1% + 25px);
}

.console-container h1 {
	font-size: 38px;
	color:whitesmoke;
}

#console-data {
	overflow: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */

	flex: auto;
	font-size: 14px;
	color: whitesmoke;

	border: var(--console-data-border-size) solid var(--console-border-color);
	background-color: var(--console-data-background-color);
}

/* Hide scrollbar for Chrome, Safari and Opera */
#console-data::-webkit-scrollbar {
	display: none;
}

/*
**  Console Text
**	TODO: Style for every minecraft text style (colors and format)
*/

#console-input {
	display: flex;
	flex-direction: row;
	border: var(--console-data-border-size) solid var(--console-border-color);
	background-color: var(--console-border-color);
}

#console-input label[for="command"] {
	padding-right: var(--console-data-border-size);
	color: whitesmoke;
}

#console-input input {
	position: relative;
	border: none;
	background-color: var(--console-data-background-color);
	width: 100%;
	float: right;
	color: whitesmoke;
}
